.container {
    display: flex;

    &.selected {
        gap: var(--offset-small);
    }

    &:not(.selected) {
        .accept {
            max-width: 0 !important;
            min-width: 0 !important;
            padding: 0 !important;
            border: none !important;
            overflow: hidden;
        }
    }

    &.process {

    }

    .main {
        width: 100%;
    }
}