.container {
    border: 1px solid var(--border-color-invisible);
    background: var(--button-background-second);
    color: var(--text-color-main);
    border-radius: var(--offset-small);
    padding: var(--offset-medium);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--color-gray-transparent);
    transition: var(--transition-fast);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--offset-small);
    align-items: center;

    & > span {
        display: flex;
        align-items: center;
    }

    &:hover {
        border: 1px solid var(--button-background-second-hover);
        background: var(--button-background-second-hover);
    }

    &.main {
        border: 1px solid var(--button-background-main);
        background: var(--button-background-main);
        box-shadow: 0 0 20px 0 var(--button-background-main-shadow);

        &:hover {
            border: 1px solid var(--button-background-main-hover);
            background: var(--button-background-main-hover);
            color: var(--text-color-invert);
            box-shadow: 0 0 30px 0 var(--button-background-main-hover-shadow)
        }
    }

    &.danger {
        border: 1px solid var(--button-background-danger);
        background: var(--button-background-danger);
        box-shadow: 0 0 20px 0 var(--button-background-danger-shadow);

        &:hover {
            border: 1px solid var(--button-background-danger-hover);
            background: var(--button-background-danger-hover);
            box-shadow: 0 0 30px 0 var(--button-background-danger-hover-shadow);
        }
    }
}