@import "../../components/tiptap/extensions/TipTapFootnote/TipTapFootnote";
@import "images";
@import "table";
@import "heading";

:root .dark-blue-light {
    .tiptap {
        transition     : .5s;
        border-radius  : 10px;
        outline        : 2px dotted transparent;
        padding        : 0;
        display        : flex;
        flex-direction : column;
        gap            : var(--offset-large);

        &:read-write {
            // padding    : var(--offset-large);
            // outline    : 2px dotted var(--text-color-invisible);
            // background : var(--background-item);

            &:focus,
            &:active {
                // outline    : 2px dotted var(--color-blue);
                // box-shadow : 0 0 20px -5px var(--color-blue-transparent);
            }
        }
    }
}