@function mergeStrings ($body, $append) {
    @return $body + $append;
}

:root body.dark {
    background: var(--background-main);
    color: var(--text-color-main);

    --color-blue: #84a0ef;
    --color-blue-transparent: #84a0ef33;
    --color-blue-lighten: #94acfa;
    --color-blue-darken: #6c87da;
    --color-red: #ef8484;
    --color-red-transparent: #ef848433;
    --color-yellow: #efd184;
    --color-yellow-transparent: #efd18433;
    --color-gold: #ffde4b;
    --color-gold-transparent: #ffde4b33;
    --color-gray-transparent: #31343a33;

    --background-main: #232529;
    --background-main-transprent: #23252933;
    --background-second: #31343a;
    --background-second-transprent: #31343a33;
    --background-item: #1b1d1f;
    --background-item-transprent: #1b1d1f33;

    --text-color-main: #f2f2f5;
    --text-color-second: #d9e4e8;
    --text-color-invisible: #6a7585;
    --text-color-invert: #121212;

    --text-color-link: var(--color-blue);
    --text-color-link-hover: var(--color-gold);

    --border-color-invisible: #383c41;
    --border-color-mark: var(--color-blue);

    --button-background-main: var(--color-blue-darken);
    --button-background-main-shadow: var(--color-blue-transparent);
    --button-background-main-hover: var(--color-gold);
    --button-background-main-hover-shadow: var(--color-gold-transparent);
    --button-background-second: var(--background-second);
    --button-background-second-hover: var(--background-main);
}