:root body.dark {
    background: var(--background-main);
    color: var(--text-color-main);

    --color-blue: #84a0ef;
    --color-blue-lighten: #99b2ff;
    --color-blue-darken: #7793e7;
    --color-red: #ef8484;
    --color-yellow: #efd184;
    --color-gold: #ffde4b;

    --background-main: #232529;
    --background-second: #31343a;
    --background-item: #1b1d1f;

    --text-color-main: #f2f2f5;
    --text-color-second: #d9e4e8;
    --text-color-invisible: #6a7585;

    --text-color-link: var(--color-blue);
    --text-color-link-hover: var(--color-gold);

    --border-color-invisible: #383c41;
    --border-color-mark: var(--color-blue);

    --button-background-main: var(--color-blue);
    --button-background-main-hover: var(--color-blue-lighten);
    --button-background-second: var(--background-second);
    --button-background-second-hover: var(--background-main);
}