.container {
    display: flex;
    flex-direction: column;

    &.small {
        gap: var(--offset-medium);
    }

    &.medium {
        gap: var(--offset-large);
    }

    &.large {
        gap: var(--offset-large-plus);
    }

    &.item {
        border-radius: var(--offset-medium);
        padding: var(--offset-medium);

        &.main {
            background: var(--background-item);
        }

        &.second {
            background: var(--background-second);
        }
    }
}