.container {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between !important;
    align-items     : center;

    &.wrap {
        flex-wrap : wrap;
        gap       : var(--offset-small) !important;
    }
}