.container {
    &:not(.opened) {
        .content {
            display: none;
        }

        .title {
            .icon {
                transform: rotate(0deg);
            }
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--background-item);
        padding: var(--offset-medium);
        border-radius: var(--offset-medium);
        cursor: pointer;

        .icon {
            transition: var(--transition-fast);
            transform: rotate(180deg);
        }
    }
}