.container {
    .title {
        /*        & > * {
                    color: var(--text-color-main);
                }*/

        display     : flex;
        gap         : var(--offset-medium);
        align-items : center;
    }

    .list {
        list-style-type : none;
        display         : flex;
        flex-direction  : column;
        gap             : var(--offset-small);
        width           : 100%;

        .row {
            display     : flex;
            gap         : var(--offset-medium);
            align-items : center;
            width       : 100%;

            .number {
                font-size : 12px;
                color     : var(--text-color-second);
            }

            .item {
                width : 100%;
            }
        }
    }
}