.container {
    position: relative;
    padding-left: var(--offset-large) !important;
    border-radius: var(--offset-small) var(--offset-medium) var(--offset-medium) var(--offset-small) !important;

    &:before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        display: block;
        width: var(--offset-small);
        height: calc(100% - 2px);
        border-radius: var(--offset-small) 0 0 var(--offset-small);
    }

    .header {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: var(--text-color-main);
        font-size: 16px;

        &:before {
            font-family: "Material Symbols Outlined";
            font-size: 24px;
            margin-right: var(--offset-medium);
        }
    }

    .body {
        font-weight: normal;
        color: var(--text-color-main);
        font-size: 14px;
    }

    &.notify {
        &:before {
            background: var(--color-blue);
        }

        .header {
            &:before {
                content: '\f10d';
                color: var(--color-blue);
            }
        }
    }

    &.warning {
        &:before {
            background: var(--color-yellow);
        }

        .header {
            &:before {
                content: '\e153';
                color: var(--color-yellow);
            }
        }
    }

    &.urgent {
        &:before {
            background: var(--color-red);
        }

        .header {
            &:before {
                content: '\e000';
                color: var(--color-red);
            }
        }
    }
}