$nav_height: 70px;
$header_height: 40px;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;

    .content {
        height: calc(100% - $nav_height);
        padding: var(--offset-large) var(--offset-medium);
        background: var(--background-main);
        overflow-y: auto;

        .content_width {
            width: 100%;
            max-width: 1000px;
            margin: auto;
        }
    }

    .header {
        display: flex;
        align-items: center;
        background: var(--background-second);
        padding: var(--offset-medium);
        margin-bottom: var(--offset-large) !important;
    }

    .nav {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
        height: $nav_height;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-second);
        gap: var(--offset-medium);
    }
}