$nav_height    : 70px;
$header_height : 40px;
$max_width     : 1000px;
$page_padding  : var(--offset-medium);

.container {
    height : 100dvh;

    .content {
        // height        : calc(100% - $nav_height);
        height        : calc(100%);
        padding       : $page_padding $page_padding 0 $page_padding;
        background    : var(--background-main);
        // overflow-y    : auto;
        width         : 100%;
        max-width     : calc($max_width + $page_padding * 2);
        margin        : auto;

        // new_design
        border-radius : var(--offset-medium);

        .content_width {
            width          : 100%;
            max-width      : $max_width;
            margin         : auto;

            padding-bottom : calc($nav_height + $page_padding);
        }
    }

    /*    .header {
            display       : flex;
            align-items   : center;
            background    : var(--background-second);
            padding       : var(--offset-medium);
            margin-bottom : var(--offset-large) !important;
        }*/

    .header {
        margin-bottom  : var(--offset-medium) !important;
        padding-bottom : 0 !important;
    }

    /*    .nav {
            position: relative;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
            height: $nav_height;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--background-second);
            gap: var(--offset-medium);
        }*/

    .nav {
        margin          : auto;
        width           : calc(100% - var(--offset-medium) * 2);
        max-width       : $max_width;
        position        : fixed;
        z-index         : 21000;
        left            : 50%;
        transform       : translateX(-50%);
        bottom          : var(--offset-small);
        height          : $nav_height;
        display         : flex;
        align-items     : center;
        justify-content : center;
        box-shadow      : 0 5px 0 10px var(--background-main);
        background      : var(--background-item);
        gap             : var(--offset-medium);
        border-radius   : var(--offset-medium);
    }
}