.container {
    max-height : 340px;
    overflow   : hidden;
    position   : relative;

    & > * {
        position : relative;
        z-index  : 1;
    }

    .link {
        text-decoration : none;
        display         : flex;
        flex-direction  : column;
        gap             : var(--offset-small);

        &:hover {
            .title {
                color : var(--color-blue);
            }
        }
    }

    .image {
        max-height          : 200px;
        min-height          : 200px;
        border-radius       : var(--offset-medium);
        background-size     : cover;
        background-position : center;
    }

    .title {
        transition : var(--transition-fast);
        font-size  : 18px;
    }

    .description {
        font-size : 12px;
    }
}